body{
    color: #fff;
    font-family: 'Inter', sans-serif;
}
header{
    background-image: url(./img/Rectangle\ 104.jpg);
    opacity: 0.8;
}
.flex{
    display: flex;
}
.align-items{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.text-align{
    text-align: center;
}
.text-align-justify{
    text-align: justify;
}
.enter,
.switcher a,
.text-header-navi,
.text-header-ua,
.text-clan,
.title-trailer h2,
.hero-name,
.button-trailer,
.title-navi h2,
.learning-lanquage-navi h3,
.card p,
.title-footer h2,
.E-mail p,
.Cooperation-E-mail,
.copyright{
    font-weight: 400px;
    font-size: 20px;
}
header,
.main-description,
.trailer,
.learning-lanquage-navi,
footer{
    background-size: cover;
}
.header-wrapper {
    justify-content: space-evenly;
    padding: 39px 0;
    border-bottom: #FFF solid 3px;
}
.header-main{
    color: #94CFFF;
    font-weight: 600;
}
nav a {
    font-size: 20px;
    color: #FFF;
    font-weight: 300;
    margin-right: 38px;
}
nav a:last-child {
    margin: 0;
}
a{
    text-decoration: none;
}
.enter{
    color: #26C6EA;
    font-family: HeadLandOne;
}
.enter,
.switcher a,
.text-header-navi,
.text-header-ua,
.text-clan,
.title-trailer h2,
.hero-name,
.button-trailer,
.title-navi h2,
.learning-lanquage-navi h3,
.card p,
.title-footer h2,
.E-mail p,
.Cooperation-E-mail,
.copyright{
    font-weight: 400px;
    font-size: 20px;
}

header,
.main-description,
.trailer,
.learning-lanquage-navi,
footer{
    background-size: cover;
}
.group-enter{
    margin-right: 49px;
    border: 2px #26C7EA solid;
    border-radius: 35px 0 35px 0;
    padding: 9px 38px 7.69px;
    background-color: #0B0E66;;
}
.switcher a{
    color: #FFF;
    font-family: Hammersmith One;
    font-size: 16px;
}
.switch{
    width: 36px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #FFF;
    margin: 0 10px;
}
.round{
    background-color: #FFF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 17px;
    margin-top: 4px; 
    cursor: pointer;
}

.main-description {
    background-image: url(./img/Group_48_1.jpg);
    padding: 180px 0;
    justify-content: space-around;
} 
.text-header-all{
    flex-direction: column;

}
.text-header-navi{
    width: 298px;
    height: 96px;
}
.spear{
    width: 152px;
    height: 40px;
}
.text-header-ua{
    width: 376px;
    height: 123px;
}
.jointoclan{
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    width: 260px;
    height: 80px;
}
.text-clan{
    padding: 10px 30px;
    color: #26C7EA;
    font-family: HeadlandOne;
    font-size: 24px;
}
.socials{
    flex-direction: column;
    width: 35px;
    height: 30px;
}
.socials img:nth-child(1){
    margin-bottom: 24px;
}
.socials img:nth-child(2){
    margin-bottom: 27px;
}
.title-trailer-navi h2{
    padding-top: 75px;
    padding-bottom: 16px;
    color: #0A3853;
    font-size: 36px;
}
.hero-name{
    margin: 0 auto; 
    margin-bottom: 8px;
    color: #000;
    font-size: 24px;
}
.bird{
    margin-bottom: 10px;
}
.trailer{
    background-image: url(./img/Rectangle\ 10.png);
    padding: 330px 0;
}
.border-trailer-text{
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;  
    width: 260px;
    height: 80px;
}
.button-trailer{
    padding-top: 20px;
    color: #26C7EA;
    font-family: HeadlandOne;
    font-size: 24px;
}
.learning-lanquage-navi{
    background-image: url(./img/Rectangle\ 20.jpg);
}
.learning-lanquage-navi h3{
    padding-top: 58px;
    color: #141414;
    font-family: HeadlandOne;
    font-size: 32px;
}
.all-card{
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 240px 240px;
    margin-top: 45px;
    padding-bottom: 57px;
}
.card{
    display: grid;
    margin-right: 36px;
    margin-bottom: 24px;
    background: rgba(255, 255, 255, 0.70);
} 

.card p{
    color: #141414;
    font-family: HeadlandOne;
    font-size: 24px;
    line-height: 24px;
}
.title-trailer-navi h2{
    padding-top: 75px;
    padding-bottom: 16px;
    color: #141414;
    font-size: 36px;
}

footer{
    background-image: url(./img/Rectangle\ 104.jpg);
    opacity:0.7;
}
.logo-footer{
    margin: 76px 0;
    margin-left: 204px;
}

.vertical-line-footer{
    background-color: rgb(255, 255, 255);
    margin: 35px 80px;
    border: #fff 2px solid;
    width: 2px;
    height: 153px;
}

.all-e-mail{
    flex-direction: column;
}

.E-mail{
    padding-top: 80px;
    padding-bottom: 16px;
}
.E-mail img{
    width: 269px;
    height: 2px;  
    padding: 0 20px; 
}
.Cooperation-E-mail img{
    width: 194px;
    height: 2px;
    padding: 0 20px; 
}
.copyright{
    padding-bottom: 25px;
    font-size: 14px;
}
