*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./img/Rectangle\ 104.jpg);
    background-size: cover;
    opacity: 0.8;
    border-bottom: #FFF solid 3px;
    
}
.header-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 39px 0;
}
.header-main{
    color: #94CFFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}
nav a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    margin-right: 38px;
}
nav a:last-child {
    margin: 0;
}
a{
    text-decoration: none;
}
.group-enter-switcher{
    display: flex;
    align-items: center;
    
}
.enter{
    color: #26C6EA;
    text-align: justify;
    font-family: HeadLandOne;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.group-enter{
    margin-right: 49px;
    border: 2px #26C7EA solid;
    border-radius: 35px 0 35px 0;
    padding: 9px 38px 7.69px;
    background-color: #0B0E66;;
}
 .switcher{
    display: flex; 
} 
.switcher a{
    color: #fff;
    text-align: center;
    font-family: Hammersmith One;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.switch{
    width: 36px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #FFF;
    margin: 0 10px;
}
.round{
    background-color: #FFF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 4px; 
}

.main-description {
    display: flex;
    background-image: url(./img/Group_48_1.jpg);
    background-size: cover;
    padding: 180px 0;
    justify-content: space-around;
    align-items: center;
} 
.text-header-all{
    display: flex;
    flex-direction: column;

}
.text-header-navi{
    width: 298px;
    height: 96px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.spear{
    display: flex;
    width: 152px;
    height: 40px;
}
.text-header-ua{
    width: 376px;
    height: 123px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.jointoclan{
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    width: 260px;
    height: 80px;
    flex-shrink: 0;
}
.text-clan{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #26C7EA;
    text-align: center;
    font-family: HeadlandOne;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.socials{
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 30px;
}
.socials img:nth-child(1){
    margin-bottom: 24px;
}
.socials img:nth-child(2){
    margin-bottom: 27px;
}

/* TITLE-TRAILER */

.title-trailer{
    display: flex;
    padding-top: 75px;
    justify-content: center;
}
.title{
    display: flex;
    flex-direction: column;
}

.title h1:nth-child(1){
    color: #0A3853;
    text-align: justify;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title h1:nth-child(2){
    padding-top: 4px;
    color: #0A3853;
    text-align: justify;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero-name{
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.trailer{
    display: flex;
    justify-content: center;
    margin: 356px 610px;
    background-image: url(./img/Rectangle\ 10.png);
    background-size: cover;
}
.border-trailer-text{
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;  
    width: 260px;
    height: 80px;
    flex-shrink: 0;  
}
.text-trailer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #26C7EA;
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}